@model ShoppingCartVM

<form method="post">

    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">Koszyk</h3>
                </div>
            </div>
        </div>
        <div class="card-body my-4">
            <div class="row">
            </div>
            <div class="row mb-3 pb-3">
                <div class="col-md-10 offset-md-1">

                    @foreach (var item in Model.ShoppingCartList)
                    {
                        <div class="row border-bottom pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="@item.Diet.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>@item.Diet.DietName</strong></h5>
                                <p><small>@Html.Raw(@item.Diet.Description)</small></p>
                            </div>
                            <div class="col-12  col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        @item.Diet.Price.ToString("c", new System.Globalization.CultureInfo("pl-PL"))
                                        <span class="text-muted">&nbsp;x&nbsp;</span>@item.Count
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary bg-gradient py-2">
                                            <i class="bi bi-plus-square"></i>
                                        </a> &nbsp;
                                        <a asp-action="minus" asp-route-cartId="@item.Id" class=" btn btn-primary bg-gradient py-2">
                                            <i class="bi bi-dash-square"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class=" col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    }


                </div>
            </div>
            <div class="card-footer border-0">
                <div class="row">
                    <div class="col-md-4 offset-md-4 bg-transparent text-center">
                        <ul class="list-group mb-4">
                            <h6 class="fw-semibold text-uppercase text-white"> Razem (PLN): <br /></h6>
                            <h6 class="text-primary fw-bolder">
                                @Model.OrderHeader.OrderTotal.ToString("c", new System.Globalization.CultureInfo("pl-PL"))
                            </h6>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-action="Summary" class="btn btn-primary bg-gradient w-100 py-2 fw-semibold text-uppercase">Podsumowanie</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary bg-gradient w-100 py-2 fw-semibold text-uppercase"><small>Kontynuuj zakupy</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



